*.suo
*.vcxproj.user
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.ilk
*.aps
*.suo
*.ncb
*.user
*.opt
*.plg
/Debug*
/Release*
/debug*
/release*
*.*~
*.tlb
*_i.c
*_p.c
_*.idl
_*.h
*.obj
*.vspscc
dlldata.c
*.pch
*.idb
*.pdb
*.manifest
*.res
*.exe
*.dll
mt.dep
BuildLog.htm
*_i.h
*.idc
*.swp
*.trx
/TestResults
*.vcxproj.filters
ipch
*.sdf
*.opensdf